body{
    background: url("../11.jpg");
    background-size:cover;
}

.block{
    border-radius: 100px;
    border: 10px double #fff;
    width: 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.chat{
    margin-left: 20px;
    margin-right: 20px;
}

.messages{
    box-sizing: border-box;
    border: 2px solid white;
    width: 100%;
    height: 320px;
    background: lightgrey;
    overflow-y: auto;
}

.info{
    font-size: 12px;
    color: darkblue;
}

.message-send{
    border: 2px solid white;
    width: 60%;
}
.name{
    width: 30%;
    margin-left: 30px;

}
.links{
    text-align:right;
}
.btn {
    box-sizing: border-box;
    width: 10%;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #ffffff;
    font-size: 14px;
    background: #3498db;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
}

.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}


.myChat {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    border: none;
    font: normal 72px/normal "Passero One", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.myChat:hover {
    color: rgba(169,214,169,1);
    text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.about {
    position: fixed;
    top: 95%;
    color: darkblue;
}

